.obsidian/plugins/obsidian-git/obsidian_askpass.sh
*.m4a
.obsidian/plugins/obsidian-excalidraw-plugin/*

# Caches e bancos de dados de plugins
.makemd/
.space/
*.mdc
*.mdb

# Configurações de layout que mudam toda hora

.obsidian/workspace.json
.obsidian/workspace-mobile.json
